/* Projects.css */

.project-section {
  background-color: rgb(4, 10, 32);
  margin-top: 30px;
  color: #ffc506;
  padding: 32px;
}

.project-title {
  color: white;
  margin: 36px 0;
  font-size: 2rem;
  text-align: center;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 3rem;
}

.spanWork {
  color: #c7a63b;
}

.project-card {
  /* existing styles */
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 70%;
  height: 400px;
  background-color: #1f2020;
  position: relative;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s;
  opacity: 0;
  transform: translateY(50px);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(255, 197, 6, 0.2), 0 6px 20px rgba(255, 197, 6, 0.19);
}

.project-card:hover {
  box-shadow: 0 0 15px rgba(255, 197, 6, 0.8), 0 0 30px rgba(255, 197, 6, 0.6), 0 0 45px rgba(255, 197, 6, 0.4);
  transform: translateY(0); /* Smooth transition on hover */
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #cab160;
  opacity: 0.6;
  transition: opacity 0.5s;
  z-index: 1;
}

.project-card:hover::before {
  opacity: 0;
}

.flex-end {
  margin-left: 0;
}

.project-image {
  height: 250px; /* Adjusted height for better balance */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: sepia(100%);
  z-index: 0;
  border-radius: 10px 10px 0 0; /* Matches card's rounded corners */
}

.project-card-title {
  margin: 16px;
  font-size: 1.5rem;
  z-index: 2;
  position: relative;
}

.project-subtitle {
  margin: 0 16px;
  font-size: 1.25rem;
  color: white;
  z-index: 2;
  position: relative;
}

@media (max-width: 767px) {
  .flex-end,
  .flex-start {
    margin-left: auto; /* Override the margin */
    margin-right: auto; /* Center-align in mobile view */
  }
}

/* Keep flex alignment active for desktop view */
@media (min-width: 768px) {
  .flex-end {
    margin-left: 0; /* Align to the left */
    margin-right: auto;
  }

  .flex-start {
    margin-left: auto; /* Align to the right */
    margin-right: 0;
  }


  .project-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }
}

.scroll-animation {
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-animation.visible {
  opacity: 1;
  transform: translateY(0);
}
