
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #695205;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #caa11a ;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  #caa11a ;
  border-radius: 12px;
}

.blockquote-footer {
  color: #e2c564 !important;
}
::-moz-selection { /* Code for Firefox */
color: white;
  background: #caa11a ;
}

::selection {
  color: white;
  background: #caa11a ;
}